DEBUG=True
SECRET_KEY=django-insecure-29t@y+k4o^4_ozh-y!2&u^72e01c=6w6b!q99gn)u5sipq+q70
ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_NAME=nslookupDB
DATABASE_USER=postgres
DATABASE_PASSWORD=Password09!
DATABASE_HOST=localhost
DATABASE_PORT=5008

REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

POSTGRES_DB=nslookupDB
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Password09!
