Django==6.0.7
djangorestframework==3.16.0
psycopg2-binary==2.9.9
redis==5.2.1
celery==5.4.0
django-cors-headers==4.7.0
django-redis==5.4.0
scapy==2.6.1
dnspython==2.7.0
ping3==4.0.2
geoip2==5.1.0
gunicorn==23.0.0
uvicorn==0.34.0
channels==4.2.0
channels-redis==4.2.0
django-filter==24.3
django-rest-swagger==2.2.0
drf-yasg==1.21.8
Pillow==11.1.0
python-dotenv==1.0.1
